# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/kubejs
run/kubejs/*
!run/kubejs/server_scripts
!run/kubejs/startup_scripts
/logs
/.factorypath
/CHANGELOG.md
/runs
