[data-md-color-scheme='slate'] {
  --md-typeset-a-color: #4fc3f7;
}

.md-typeset__table {
  min-width: 100%;
}

.admonition>.md-typeset__scrollwrap:last-child>.md-typeset__table {
  padding: 0;
  margin: 0;
}

.md-typeset table:not([class]) {
  display: table;
}

.md-typeset .tabbed-labels--linked>label>a {
  padding: 0.25em 1.25em 0.25em 1.25em !important;
}

.md-typeset .admonition code,
.md-typeset details code {
  font-size: 1em !important;
}

sup[title] {
  font-weight: bold;
}

.rst-other-versions > :not(:first-child),
.rst-other-versions dt {
  display: none !important;
}

.rst-versions .rst-other-versions dd {
  display: block !important;
  border-color: transparent;
  padding: 0;
  font-weight: 500;
}

.rst-other-versions dd a {
  display: block !important;
}

.rst-other-versions {
  padding: 0 !important;
}
